<div class="container" id="education">
    <h2>Education.</h2>
    <div class="cards">
        <div class="card">
            <div class="icon">
                <div class="img"></div>
            </div>
            <h3>S.S.L.C</h3>
            <p>St. Peter's Higher Secondary School</p>
            <p>Kurumpanadom</p>
        </div>
        <div class="card">
            <div class="icon">
                <div class="img"></div>
            </div>
            <h3>Plus Two</h3>
            <p>N.S.S Boys Higher Secondary School</p>
            <p>Karukachal</p>
        </div>
        <div class="card">
            <div class="icon">
                <div class="img"></div>
            </div>
            <h3>B.Tech</h3>
            <p>Computer Science & Engineering</p>
            <p>SJCET</p>
            <p>Palai</p>
        </div>
    </div>
</div>