<div class="container" id="contact">
    <div class="image"></div>
    <div class="details">
        <h1>Connect with me!</h1>
        <div class="iconContainer">
            <div class="icon phone"></div> <a href="tel:+917907651050">+91-790-765-1050</a>
        </div>
        <div class="iconContainer">
            <div class="icon mail"></div> <a href="mailto:binubabuarom@gmail.com">binubabuarom@gmail.com</a>
        </div>
        <h3>Follow me on Social Media</h3>
        <div class="iconContainer">
            <div class="icon whatsapp"></div> <a href="https://wa.me/+917907651050">WhatsApp</a>
        </div>
        <div class="iconContainer">
            <div class="icon instagram"></div> <a href="https://www.instagram.com/_._aadhi_yogi_._/">Instagram</a>
        </div>
        <div class="iconContainer">
            <div class="icon linkedin"></div> <a href="https://www.linkedin.com/in/binu-babu-b86a03172/">LinkedIn</a>
        </div>
        <div class="iconContainer">
            <div class="icon github"></div> <a href="https://github.com/binubabu99">Github</a>
        </div>
    </div>
</div>