<div class="container" id="intro">
    <div class="image"></div>
    <div class="details">
        <h2>Hi, I'm Binu Babu</h2>
        <p>I am a pre-final year Computer Science Engineering Student pursuing my B.Tech from St. Joseph's College of Engineering and Technology, Palai. I am a passionate programmer and a web developer who likes to travel around the world and experience
            different people, culture and food. I believe travelling gives you a new perspective to everything. I am seeking a challenging position to the best utilization of my skills and looking for opportunities to grow my technical and managerial
            skills and ready to fulfill organizational goals.</p>
    </div>
</div>